{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block Title %}
                Сервис сокращения длинных ссылок: учётная запись пользователя
            {% endblock %}
        </title>
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" />
        <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/png">
    </head>
    <body>
        {% include 'shortener/nav.html' %}
        <div class="container">
            {% block Body %}{% endblock %}
        </div>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </body>
</html>
