{% load static %}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #34ebd2;">
    <div class="container container-fluid">
        <img src="{% static 'images/taxa2.png' %}" style="width:142px; height:80px;"  align="absmiddle">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggle-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'shortener:index' %}" aria-current="page"><b>Домой</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'auth:login' %}"><b>Авторизация</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%  url 'auth:reset_password' %}"><b>Сброс пароля</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'auth:registration' %}"><b>Регистрация</b></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
