{% extends 'authentication/base.html' %}
{% block Title %}
    Password Reset
{% endblock %}
{% block Body %}
    <form method="post">
        <fieldset>
            <legend><h2>Сброс пароля</h2></legend>
            <ul>
                <span>Введите свой адрес электронной почты, и мы вышлем вам ссылку для сброса пароля</span>
                <br>
                <p></p>
                {% csrf_token %}
                {% for message in messages %}
                    <p style="color: turquoise">{{ message }}</p>
                {% endfor %}
                <label for="email">Адрес электронной почты: </label>
                <input type="email" name="email" id="email">
            </ul>
        </fieldset>
        <br>
        <input type="submit" class="btn btn-warning" value="Сбросить пароль">
    </form>
{% endblock %}
