{% extends 'authentication/base.html' %}
{% block Title %}
    Сервис сокращения длинных ссылок: отправлена ссылка на сброс пароля
{% endblock %}
{% block Body %}
    <legend><h2>Отправлена ссылка на сброс пароля</h2></legend>
    <ul>
        <span>Мы отправили вам по электронной почте инструкции по установке пароля, если существует учётная запись с указанным вами электронным адресом. Вы должны получить их в ближайшее время.</span>
    </ul>
    <ul>
        <span>Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес, с которым зарегистрировались, и проверьте папку спама.</span>
    </ul>
{% endblock %}
