{% extends 'authentication/base.html' %}
{% block Title %}
    Password Reset
{% endblock %}
{% block Body %}
    <div class="content h-auto" style="margin-top: auto">
        <div class="container-fluid h-auto">
            <div class="row h-auto">
                <div class="col-md-8 col-md-offset-2" style="margin: auto;">
                    <div class="card">
                        <div class="header text-center">
                            <h4 class="title">Password Reset Complete</h4>
                            <p class="category">
                                Your password has been reset.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
