{% extends 'authentication/base.html' %}
{% block Title %}
    Password Reset Done
{% endblock %}
{% block Body %}
    <form method="post" class="container">
        <fieldset>
            <legend><h2>Enter new password</h2></legend>
            <span>Please enter your new password twice so we can verify you typed it in correctly.</span>
            <br>
            {% csrf_token %}
            {% for message in messages %}
                <p style="color: turquoise">{{ message }}</p>
            {% endfor %}
            <fieldset class="module aligned">
                <input class="hidden" autocomplete="username" value="rand4" hidden>
                <div class="form-row field-password1">
                    <label for="id_new_password1">New password:</label>
                    <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
                </div>
                <div class="form-row field-password2">
                    <label for="id_new_password2">Confirm password:</label>
                    <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
                </div>
                <input type="submit" class="btn btn-primary" value="Change my password">
            </fieldset>
        </fieldset>
    </form>
{% endblock %}
