{% extends 'authentication/base.html' %}
{% block Title %}
    Password Reset
{% endblock %}
{% block Body %}
    <div class="content h-auto" style="margin-top: auto">
        <div class="container-fluid h-auto">
            <div class="row h-auto">
                <div class="col-md-8 col-md-offset-2" style="margin: auto;">
                    <div class="card">
                        <div class="header text-center">
                            <h4 class="title">Password Reset Sent</h4>
                            <p class="category">
                                We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
                            </p>
                            <p class="category">
                                If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
