{% extends 'authentication/base.html' %}
{% block Title %}
    Сервис сокращения длинных ссылок: введите новый пароль
{% endblock %}
{% block Body %}
    <form method="post" class="container">
        <fieldset>
            <legend><h2>Введите новый пароль</h2></legend>
            <ul>
                <span>Пожалуйста, введите свой новый пароль дважды, чтобы мы могли проверить, правильно ли вы его ввели</span>
                <br>
                <p></p>
                {% csrf_token %}
                {% for message in messages %}
                    <p style="color: turquoise">{{ message }}</p>
                {% endfor %}
                <fieldset class="module aligned">
                    <input class="hidden" autocomplete="username" value="rand4" hidden>
                    <table>
                        <div class="form-row field-password1">
                            <tr height="30">
                                <td align="right">
                                    <label for="id_new_password1">Новый пароль</label>
                                </td>
                                <td><strong>&nbsp;:&nbsp;</strong></td>
                                <td>
                                    <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
                                </td>
                            </tr>
                        </div>
                        <div class="form-row field-password2">
                            <tr height="30">
                                <td align="right">
                                    <label for="id_new_password2">Повторите новый пароль</label>
                                </td>
                                <td><strong>&nbsp;:&nbsp;</strong></td>
                                <td>
                                    <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
                                </td>
                            </tr>
                        </div>
                    </table>
                </fieldset>
            </ul>
        </fieldset>
        <br>
        <input type="submit" class="btn btn-primary" value="Изменить пароль">
    </form>
{% endblock %}
